nav.navbar {
  background-color: #3f51b5;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  height: 30px;
  position: sticky;
  top: 0;
  
  ul {
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 1.7em;
        font-weight: bold;
        color: #fff;
        transition: all 0.3s;
        &:hover {
          color: #9fa8da;
        }
      }
    }
  }
}
