nav.navbar {
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  padding: 1rem;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
  height: 30px;
  position: sticky;
  top: 0;

  ul {
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        transition: all 0.3s;
        &:hover {
          color: #9fa8da;
        }
      }
    }
  }
}
