.range-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.range {
  min-width: 300px;
  transition: all 0.5s;

  .slider {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    &-item {
      flex: auto;
      position: relative;
    }

    &-bar {
      display: block;
      height: 3px;
      background: #000;
    }
  }

  .bullet {
    background-color: #000;
    border-radius: 50%;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -9px;
    z-index: 1;
    &:hover {
      cursor: move;
    }
  }
}
