@import "home";
@import "range";

* {
  margin: 0;
}

.content-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value-text {
  margin-bottom: 3em;
  font-size: 3em;
  font-weight: bold;
}

.hide {
  opacity: 0;
  visibility: hidden;
}
